In [48]:
import pandas as pd
from datetime import datetime
from glom import glom

### Heart Rate Signal

In [44]:
df = pd.read_json('/Users/olumide/Documents/Dissertation/Sound Stimuli version 1/MyFitbitData version 1/OlumideOdetunde/Physical Activity/heart_rate-2022-06-14.json') #load data

# extract each value
df_hr = df['value'].apply(lambda row:glom(row,"bpm"))
df_confidence = df["value"].apply(lambda row:glom(row, "confidence"))
df_datetime = df["dateTime"]

#combine extracted values
df_combined = pd.concat([df_datetime, df_hr, df_confidence], axis=1, ignore_index=True) 
df_combined.columns = ["datetime","heartrate","confidence"] #rename column

print(type(df_combined))
df_combined.head()

<class 'pandas.core.frame.DataFrame'>

             datetime  heartrate  confidence
0 2022-06-14 02:54:14         72           0
1 2022-06-14 02:54:19         74           0
2 2022-06-14 02:54:24         73           0
3 2022-06-14 02:54:29         64           1
4 2022-06-14 02:54:34         62           1

### Skin Temperature Signal

In [ ]:
df_skt = pd.read_csv("/Users/olumide/Documents/Dissertation/Sound Stimuli version 1/MyFitbitData version 1/OlumideOdetunde/Sleep/Wrist Temperature - 2022-06-15.csv")
df_skt = datetime.strptime(df_skt['recorded_time'], "%Y-%m-%dT%H:%M:%S%z")
df_skt.head()

### Blood Oxygen variation

In [54]:
df_bo = pd.read_csv("/Users/olumide/Documents/Dissertation/Sound Stimuli version 1/MyFitbitData version 1/OlumideOdetunde/Other/estimated_oxygen_variation-2022-06-14.csv")
df_bo.tail()

             timestamp  Infrared to Red Signal Ratio
779  06/14/22 23:55:47                             0
780  06/14/22 23:56:47                             0
781  06/14/22 23:57:47                             0
782  06/14/22 23:58:47                             0
783  06/14/22 23:59:47                             0

### Load Data Labels

In [43]:
df_datalabel = pd.read_excel("/Users/olumide/Documents/Dissertation/Sound Stimuli version 1/Excel Database.xlsx")
df_datalabel.head()

,SoundID,Starttime,Emotion,Emotionrating,Endtime,UserID,Soundgroup,Soundgroupselection
0,0319_2,15/06/2022 18:51:47,Fear,5,15/06/2022 18:51:58,1,Practice,Practice Sound
1,0617_2,15/06/2022 18:52:00,Fear,4,15/06/2022 18:52:14,1,Practice,Practice Sound
2,0124_2,15/06/2022 18:52:16,Happiness,4,15/06/2022 18:52:32,1,Practice,Practice Sound
3,0533_2,15/06/2022 18:52:35,Sadness,4,15/06/2022 18:52:49,1,Practice,Practice Sound
4,0194_2,15/06/2022 18:52:50,Fear,5,15/06/2022 18:53:07,1,Practice,Practice Sound